body {
  margin: 0px; /* Tira a margem do body. */
  padding: 0px; /* Tira o padding do body. */
  font-family: Arial, Helvetica, sans-serif; /* Estabelece uma fonte para todo o body. */
  padding-bottom: 600px;
}

h1,
ul,
p {
  margin: 0px; /* Tira a margem. */
}

ul {
  padding: 0px; /* Tira o padding da ul. */
  list-style: none; /* Tira o estilo de lista 'bolinha preta'. */
}

a {
  text-decoration: none; /* Tira o sublinhado base dos links. */
  color: inherit; /* Faz com que os links comecem a herdar a cor do elemento pai. */
}

img {
  max-width: 100%; /* Faz com que a imagem cresça somente do tamanho do container. */
}

.header-bg {
  background-color: #000000; /* Da um fundo ao header. */
}

.header {
  display: flex; /* Faz com que os elementos fiquem flexiveis um do lado do outro. */
  flex-wrap: wrap; /* Faz com que os elementos quebrem quando o viewport ficar com um width reduzido. Evita criar uma barra de rolagem na horizontal. */
  justify-content: space-between; /* Cria um espaço entre os elementos. */
  align-items: center; /* Alinha os elementos um ao outro no centro. */
  box-sizing: border-box; /* Essa propriedade faz com que a soma do max-width inclua o padding. */
  padding: 20px; /* Cria um padding que envolve todos os elementos do header. */
  max-width: 1200px; /* Cria um limite para o conteudo do header. */
  margin: 0 auto; /* Faz com que quando o conteudo chegar ao limite estabelecido na propriedade anterior ele crie um espaço automatico e idêntico de um lado e do outro. */
  gap: 20px; /* Cria um gap entre os elementos do header. Função especialmente usada pra quando estiver com o viewport reduzido e para os botões e a logo nao grudarem. */
}

.header img {
  /* padding: 20px; */
  /* Cria um padding para a imagem da logo. */
}

.header-menu {
  display: flex; /* Faz com que os links-botões fiquem um do lado do outro. */
  flex-wrap: wrap; /* Faz com que os elementos quebrem quando o viewport ficar com um width reduzido. Evita criar uma barra de rolagem na horizontal. */
  gap: 40px; /* Cria um espaço entre os link-botões. */
}

.header-menu a {
  color: #ffffff; /* Seleciona a cor branca com cor do texto dos links-botões. */
  display: inline-block; /* Display inline-block para que ele repeite o padding e não fique um padding por cima do outro. */
  padding: 16px 0px; /* Define um padding para cima e para baixo. */
  font-size: 1.125rem; /* Define o tamanho da fonte. */
  position: relative; /* Posição estabelecida como relative por cause do pseudo-elemento que necessita de um ponto de referência. */
}

.header-menu a:after {
  content: ""; /* Ao criam um pseudo-elemento é sempre necessário criar um content mesmo que fique vazio. */
  display: block; /* Se não definir como display block ele não é mostrado na tela. */
  height: 2px; /* Define a altura do pseudo-elemento. */
  width: 0px;
  /* Neste caso o width é zero porque tem uma transição quando hover e neste caso este é o início. */
  background: #ffffff;
  /* Define a cor do pseudo-elemento. */
  margin-top: 4px; /* Cria um espaço entre o link e o pseudo element. */
  transition: 0.3s; /* Cria a transição de 0.3s do width 0px ao width 100%. */
  position: absolute; /* Tira o pseudo element do fluxo do contéudo. */
}

.header-menu a:hover:after {
  width: 100%;
  /* Estabelece o tamanho do width quando o usuário passar o mouse em cima. */
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px; /* Diminue o tamanho do gap em uma tela menor. */
  }

  .header-menu a {
    background: #111111; /* Cria uma cor para o padding para parecer um botão. */
    padding: 12px 16px; /* Diminue o padding dos links-botões. */
    border-radius: 4px; /* Cria um arredondamento para o botão. */
  }

  .header-menu a:hover {
    background-color: #2e2e2e; /* Quando hover o botão fica com uma cor mais clara. */
  }

  .header-menu a::after {
    display: none; /* Tira o pseudo-elemento que já não é mais necessario em uma tela pequena. */
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
    /* Diminue o gap em tela pequena. */
  }

  .header-menu a {
    padding: 8px 12px; /* Diminue o padding dos links-botões. */
    font-size: 14px; /* Diminue a fonte dos links-botões. */
  }
}

.introducao-bg {
  background: #000000;
  color: #ffffff;
  box-shadow: inset 0 -120px #ffffff; /* Cria uma sombra interna que cria uma ilusão que a imagem está vazando. */
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px; /* Gap de 40px lado esquerdo e direito. */
  max-width: 1200px; /* Define o tamanho do container do conteudo. */
  box-sizing: border-box; /* Faz com que os paddings se unam. */
  padding: 0 20px; /* Define um padding para a esquerda e direita. */
  margin: 0 auto; /* Define uma margin automática para centralizar o container no meio do viewport.  */
}

.introducao-conteudo {
  align-self: end; /* Alinha o conteûdo ao bottom.  */
  padding-bottom: 200px; /* Descola do bottom. Inicialmente 80px mas foi adicionado 120px pra compensar o  box-shadow que fez uma sombra interna*/
}

.introducao h1 {
  margin-bottom: 32px; /* Foi decidido que sempre quando ao colocar margem colocar no bottom pra depois ficar mais facil pra ajustar. */
  font-size: 64px;
  line-height: 1.125;
}

.introducao span {
  color: #ffbb00; /* Faz com que o ponto fique com uma cor específica. */
}

.introducao p {
  margin-bottom: 20px; /* Foi decidido que sempre quando ao colocar margem colocar no bottom pra depois ficar mais facil pra ajustar. */
  font-size: 64px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
}

.introducao a {
  display: inline-block; /* Display inline-block faz com que o link adere aos padding corretamente. */
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c); /* Esse é um método para aplicar um gradiente ao botão. */
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1); /* Aplica uma sombra ao botão. */
  text-transform: uppercase; /* Tranforma o texto em maiúsculo. */
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold; /* Define a peso da fonte como negrito. */
}

.introducao a:hover {
  background: linear-gradient(#ffb60d, #e59317); /* Esse é um método para aplicar um gradiente ao botão mais escuro quando houver um hover. */
}
 
@media (max-width:600px){
.introducao a { 
  /* Diminue o tamanho do botão. */
  padding: 12px 18px;
  font-size: 16px;
}
}

.introducao img {
  height: 100%; 
  /* Mantem a imagem sempre na mesma altura. */
  object-fit: cover;
  /* Faz com que corte a imagem internamente ao invés de distorcer para ajustar ao tamanho definido.*/
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px; /* Diminue o tamanho da fonte. */
  }

  .introducao p {
    font-size: 18px; /* Diminue o tamanho da fonte. */
  }
}

@media (max-width: 800px) {
.introducao-bg {
  background: #111111; /* Muda a cor do background para criar um contraste entre a introdução e o menu. */
  padding-top: 40px; /* Adiciona um padding porque o conteúdo estava muito grudado. */
  box-shadow: inset 0 -60px #ffffff; /* Diminue o valor da sombra interna. */
}

  .introducao{
    grid-template-columns: 1fr; /* Coloca o conteúdo em uma só coluna. */
    gap: 32px; /* Diminue o gap. */
  }

  .introducao-conteudo {
    padding-bottom: 0px; /* Retira do padding bottom adicionado. */
  }
  .introducao h1 {
    font-size: 32px; /* Diminue o tamanho da fonte. */
    margin-bottom: 16px; /* Diminue o tamanho da margin. */
  }

  .introducao img {
    height: 300px; /* Diminue a altura da imagem. */
    width: 100%; /* Faz a imagem crescer da esquerda para a direita.*/
  }
}
