.container {
  box-sizing: border-box; /* Faz com que as margens não se unem. */
  max-width: 1200px; /* Cria um limite para o container do titulo igual da introdução. */
  padding-left: 20px; /* Padding de 20px estabelecido para todo o site. */
  padding-right: 20px; /* Padding de 20px estabelecido para todo o site. */
  margin-left: auto; /* Margin necessária para centralizar o container */
  margin-right: auto; /* Margin necessária para centralizar o container */
}

.botao {
  display: inline-block; /* Display inline-block faz com que o link adere aos padding corretamente. */
  padding: 16px 32px;
  background: linear-gradient(
    #ffbf00,
    #f2a50c
  ); /* Esse é um método para aplicar um gradiente ao botão. */
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Aplica uma sombra ao botão. */
  text-transform: uppercase; /* Tranforma o texto em maiúsculo. */
  color: var(--cor-p5);
  font: 600 1rem/1.5 "Poppins", sans-serif; /* Modo encurtado para escrever as propriedades da fonte (weight/size/line-height/family)*/
}

.botao:hover {
  background: linear-gradient(
    #ffb60d,
    #e59317
  ); /* Esse é um método para aplicar um gradiente ao botão mais escuro quando houver um hover. */
}

@media (max-width: 600px) {
  .botao {
    /* Diminue o tamanho do botão. */
    padding: 12px 18px;
    font-size: 1rem;
  }
}