body {
  margin: 0px; /* Tira a margem do body. */
  padding: 0px; /* Tira o padding do body. */
  font-family: Arial, Helvetica, sans-serif; /* Estabelece uma fonte para todo o body. */
  color: #111111;
  padding-bottom: 600px;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px; /* Tira a margem. */
}

ul {
  padding: 0px; /* Tira o padding da ul. */
  list-style: none; /* Tira o estilo de lista 'bolinha preta'. */
}

a {
  text-decoration: none; /* Tira o sublinhado base dos links. */
  color: inherit; /* Faz com que os links comecem a herdar a cor do elemento pai. */
}

img {
  max-width: 100%; /* Faz com que a imagem cresça somente do tamanho do container. */
  display: block;
}

img[src$=".jpg"] { /* Somentes imagens terminadas em .jpg irão aderir a essa propriedade. */
  border-radius: 4px; /* Cria uma borda pra todas as imagens. */
}
