.vantagens-bg {
  background-color: var(--cor-12);
}
.vantagens{
  padding-top: 120px;
  padding-bottom: 120px;
}
.vantagens h2 {
  margin-bottom: 60px;
}

.vantagens ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  /* Faz com que o grid fique responsivo de acordo com o tamanho definido. Ele vai quebrando toda vez que o elemento fica menor que 280px. Isso evita de criar várias media queries*/
  gap: 40px 80px;
}

.vantagens li {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

@media (max-width: 800px) {
.vantagens {
  padding-top: 60px;
  padding-bottom: 60px;
}

.vantagens h2 {
  margin-bottom: 40px;
}

  .vantagens ul{
    gap: 20px;
  }
}

